@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}
.sidebar {
    width: 80px; /* Ajusta según el ancho de tu sidebar */
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.submenu {
    display: none;
    list-style: none;
    padding-left: 1rem;
}

#toggle-animals.active + .submenu {
    display: block;
}

.navbar {
    width: calc(100% - 80px);
    margin-left: 80px;
}

.main-content {
    margin-left: 80px;
    margin-top: 60px; /* Ajusta según la altura de tu navbar */
}

.text-verde {
    color: #009201; /* Color verde */
}
.btn-login {
    background-color: green; /* Fondo verde */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin bordes */
    cursor: pointer; /* Cursor cambia a pointer */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Efecto suave en hover */
}

.btn-login:hover {
    background-color: darkgreen; /* Cambia el fondo cuando se hace hover */
}
