@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}
.sidebar {
    width: 80px; /* Ajusta según el ancho de tu sidebar */
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.submenu {
    display: none;
    list-style: none;
    padding-left: 1rem;
}

#toggle-animals.active + .submenu {
    display: block;
}

.navbar {
    width: calc(100% - 80px);
    margin-left: 80px;
}

.main-content {
    margin-left: 80px;
    margin-top: 60px; /* Ajusta según la altura de tu navbar */
}
